*{
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.container{
    background-color: hsl(217, 54%, 11%);
    color: hsl(215, 51%, 70%);
    height: 100vw;
}
.cyan{
    color: hsl(178, 100%, 50%);
}
.highlight{
    color: hsl(0, 0%, 100%);
}
.content{
    background-color: hsl(216, 50%, 16%);
    border-radius: 25px;
}
.pic img{
    width: 100%;
    border-radius: 15px;
}
.time{
    border-bottom: 1px solid white;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.pic_of_creator img{
    border: 1px solid whitesmoke;
    border-radius: 50%;
}
