@media only screen and (min-width: 768px) {
    body{
        font-size: 1.5vw;
    }
    .container{
        padding: 5vw;
    }
    .content{
        width: 35%;
        margin: 10px auto;
        padding: 15px;
    }
    .pic_of_creator img{
        width: 7vw;
        height: 5vw;
        margin-right: 10px;
    }
}