.container{
    background-color: hsl(217, 54%, 11%);
    padding: 50px;
    color: hsl(215, 51%, 70%);
}
.cyan{
    color: hsl(178, 100%, 50%);
}
.highlight{
    color: hsl(0, 0%, 100%);
}
.content{
    background-color: hsl(216, 50%, 16%);
    width: 20%;
    margin: 50px auto;
    padding: 20px;
}
.pic img{
    width: 100%;
}
.time{
    border-bottom: 1px solid white;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.pic_of_creator img{
    width: 35px;
    height: 30px;
    margin-right: 10px;
}